:root{
    --cabecalho-color:  #9B0B0B;
    --fundo-color: #D5BA98;
    --texto-color: #FFFFFF;
}

.cabecalho{
    background-color: var(--cabecalho-color);
    padding: 50px 0px;
}

.cabecalho-textos{
    color: var(--texto-color);
    display: flex;
    justify-content: center;
    padding: 10px 0px;
}

body{
    background-color: var(--fundo-color);
}